* {
  border: 1px solid white;
}

h1 {
  font-size: xx-large;
  font-family: "Gill Sans";
  color: indigo;
}
.secondh1 {
  color: tomato;
}
#thirdh1 {
  color: blue;
  font-size: large;
}

.troll {
  color: red;
  font-size: 100%;
}
