* {
  border:
}

h1 {
  font-size: 25px;
  font-family: ;
}
 @keyframes [last h1] {
  style 
 }

.romeo09 {
  margin-left: 831px;
}

@keyframes popup{
  from{
    transform: translatex(0%);
  }
  to{
    to{
      transform: translatex(100%);
    }
  }
}
