.h1 {
  font-size: 25px;
}

.h3 {
  font-size: 50px;
}

.romeo09 {
  margin-left: 831px;
}

body {
  margin: 0;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust as needed */
}

.romeo09 {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%; /* Adjust as needed */
  max-width: 100%; /* Ensure the image doesn't exceed its natural size */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

@keyframes slidein {
  from {
    transform: translatex(0%);
  }
  to {
    to {
      transform: translatex(100%);
    }
  }
}
